[submodule "src/hector_navigation"]
	path = src/hector_navigation
	url = git@github.com:andenq/hector_navigation.git
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = git@github.com:andenq/slam_gmapping.git
[submodule "src/openslam_gmapping"]
	path = src/openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping.git
