<launch>
  <!--<param name="/use_sim_time" value="true" />-->

  <!--<include file="$(find robotslam_launcher)/launch/office_gazebo.launch"/>-->

  <node pkg="tf" type="static_transform_publisher" name="base_to_scan_broadcaster"
        args="0 0 0 0 0 0 base_link laser 100"/>

  <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
          -configuration_directory
              $(find robotslam_launcher)/configs
          -configuration_basename turtlebot_urg_lidar_2d.lua"
        output="screen">
    <remap from="laser_scan" to="scan"/>
  </node>

  <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
        type="cartographer_flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/mobile_base/sensors/imu_data_raw"/>
    <remap from="imu_out" to="/imu"/>
  </node>

  <!--<node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find robotslam_launcher
          )/configs/demo_turtlebot_cartographer.rviz"/>-->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

  <include file="$(find robotslam_launcher)/launch/includes/planner.launch"/>
</launch>
