<launch>
  <include file="$(find robotslam_launcher)/launch/demo/includes/stage.xml">
    <arg name="map_file" value="$(find robotslam_launcher)/worlds/exjobb_cartographer.yaml"/>
    <arg name="world_file" value="$(find robotslam_launcher)/worlds/exjobb_cartographer.world"/>

    <arg name="initial_pose_x" default="2.4"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="-0.01"/>
  </include>
</launch>
